//overrides for bootstrap defaults

.navbar-dark{
    @include promote-layer;
    @include transition(background-color, backdrop-filter);
    @include backdrop-filter(var(--var-glass-filter-navbar));

    background-color: var(--col-theme-glass-navbar) !important;
    color: var(--col-theme-text);

    @include sm-down{
        >.container-xl{
            padding-right: 0.5 rem;
            padding-left: 0.5 rem;
        }
    }

    .navbar-brand {
        &, &:hover {
            color: var(--col-theme-text);
        }
    }

    .navbar-nav .nav-link {
        color: var(--col-theme-text) !important;
        cursor: pointer;

        &.active {
            background-color: var(--col-theme-accent);
            border-radius: 0.25rem;
        }
    }
}

.card-body {
    background-color: transparent;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    padding: 0.5rem;
}