//used to store theme variables

:root {
    --col-theme-glass-navbar:  rgba(12, 27, 72, 0.578);
    --col-theme-text: rgba(0, 0, 0, 0.4);
    --col-theme-accent: rgba(255, 255, 255, 0.3);
    --col-theme-background: rgba(12, 27, 72, 0.578);
    --col-ranking-card: rgba(12, 27, 72, 0.785);
    
    --var-background-brightness: .9;
    --var-glass-filter-navbar: blur(1rem);
    --var-animation-duration: 200ms;

}
